# A porta local
LOCAL_PORT=3306

# A porta que a aplicação escutará dentro do container
DOCKER_PORT=3306

# O nome do banco de dados
MYSQL_DATABASE=prisma

# A connection string
DATABASE_URL="mysql://root:@localhost:${DOCKER_PORT}/${MYSQL_DATABASE}"